<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- si nosotros ponemos get, esto llegará en el path tipo ?title=mitile&description=midescription -->
    <!-- si usamos post van a llegar en el body de la petición -->
    <!-- y el action sirve para indicar a donde queremos que se envie el formulario, por ahorita /posts/create sin embargo luego harémos esto mas dinamico  -->
    <form action="/posts/createPost" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="image" placeholder="image">
        <textarea name="content" placeholder="content"></textarea>
        <button>crear</button>
    </form>
</body>

</html>